<div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-9 ui-lg-9">
    <p-schedule></p-schedule>
  </div>
  <div class="ui-g-12 ui-sm-12 ui-md-3 ui-lg-3">
    <p-dataList [value]="reminders">
      <p-header>Reminders</p-header>
      <ng-template let-reminder pTemplate="item">
        <div class="ui-grid-row" [ngClass]="{active: reminder.active}" (click)="editReminder(reminder)">
          <div class="ui-grid-col-4">
            {{reminder.datetime | date}}
          </div>
          <div class="ui-grid-col-7">
            {{reminder.message}}
          </div>
          <div class="ui-grid-col-1">
            <button pButton type="button" icon="fa-check"></button>
          </div>
        </div>
      </ng-template>
    </p-dataList>
  </div>
  <p-dialog *ngIf="showEdit" header="Edit Reminder" [(visible)]="showEdit" [resizable]="true" [width]="auto" >
    <edit-reminder [rId]="selectedReminder?.id" (done)="closeEdit($event)"></edit-reminder>
  </p-dialog>
</div>
