.active {
    background-color: #B3E5FC;
    color: #455A64;
}
.ui-grid-row {
    padding: 10px 5px 10px 5px;
    border-bottom: solid 1px #e3e9ea;
    transition: .2s all;
    cursor: pointer;
}
.ui-grid-row:hover {
    background-color: #03A9F4;
    color: #ffffff;
}
.ui-grid-col-1 button {
    background-color: green;
}
.ui-grid-col-1 button:hover {
    background-color: green;
;
}